#SearchPhysicienContainer {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    /*transform: translateY(-#50%);*/
}
#logoAlloDoc{
}

div#aPhysician {
    width: 315px;
}

#container {
    background-color: #d2d2d2;
}
