
html, body {
    height: 100%;
}

div#userFrame {
    width: 450px;
    float: right;
}

img#UserLogo {
    width: 113px;
}

#logoAlloDoc {
    width: 33em;
    float: left;
}

#SearchPhysicienContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

div#aPhysician {
    width: 315px;
}

#divForBackground {
    background-image: url(/resources/img/background.jpg) !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 1920px;
    z-index: 0;
    position: absolute;
    background-size: cover;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
}

#container {
    z-index: 99999;
    position: relative;
}

select[multiple], select[size] {
    height: auto;
    height: 40px !important;
}

#container {
    height: 100%;
}

div#formSearch {
    height: 70px;
}

div#searchQueryInput {
    width: 80%;
    float: left;
}

div#postalCodeSearchInput {
    width: 10%;
    float: left;
}

div#fieldOfActivitySearchInput {
    width: 10%;
    float: left;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    font-weight: bold !important;
    font-size: 20px;
    text-align: center;
}

div#divButtonContainer {
    text-align: center;
}

div.appointmentList {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

ol#j_idt13\:j_idt14_list {
    list-style-type: none;
}

div#j_idt13\:j_idt21\:j_idt22_content {
    height: 360px;
    overflow-y: scroll;
}

.hourAppointment {
    width: 476px;
}

input.appointmentDelete {
    float: right;
}

.doctorForAppointment {
    max-width: 200px;
}

.appointmentDetails {
    float: left;
    width: 90%;
}
.anAppointment {
    padding-top: 1em;
    padding-bottom: 2em;
}

div#j_idt13\:j_idt14_content {
    padding-bottom: 2em;
    padding-right: 1em;
}

input#formShowProfil\:showProfil {
    width: 127px;
}

div#headerBanner {
    padding-bottom: 3em;
}

img.physicianResultPhoto {
    width: 150px;
}

div#listOfPhysician {
    width: 575px;
    margin-right: auto;
    max-height: 450px;
    overflow-y: scroll;
    border: 1px solid;
    padding-left: 2%;
    padding-bottom: 1%;
}

.aPhysician {
    width: 442px;
    border: 1px solid;
    padding-right: 5em;
    background-color: aliceblue;
}

.physicianResultDetails {
    float: right;
    margin-top: 70px;
}

.availabilitiesContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 33px;
    border: 1px solid;
    background-color: aliceblue;
}

label.physicianValue {
    font-weight: normal;
}

label.physicianLabel {
    font-size: 1.2em;
}

.physicianInfo {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 15px;
}

.validateAppointment {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 8px;
}
button#j_idt16\:validateAppointment {
    margin-left: auto;
    margin-right: auto;
}

.resultContainer {
    border: 1px solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 42px;
    padding-bottom: 15px;
    padding-top: 18px;
}

.googleMapContainer {
    width: 450px;
    float: right;
}